@page "{id:int?}"
@model MobileWorldAPI.Pages.IndexModel
@{

}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-12 col-md-12  col-sm-12 col-xs-12">
            <div class="cuerpo">
                <p class="sms">Free for 24 hrs then AED 11 / Week</p>
                <p class="sms" style="font-weight: bold; font-size: 14px;"> <a href="/indexar">عربي</a></p>
                <img src="@Model.BaseImg" style="width: 50%;">
                <h2 ID="h2Number">Enter your number</h2>

                <form method="post">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group row">
                        <div class="input-group">
                            <div class="col-6 offset-3">
                                <div class="input-group m-2">
                                   <div class="input-group-prepend">
                                        <div class="input-group-text">05</div>
                                    </div>
                                    <input asp-for="Msisdn" class="form-control" placeholder="xxxxxxxx" />
                                </div>
                            </div>
                            <div class="col-12">
                                <span asp-validation-for="Msisdn"></span>
                            </div>
                        </div>
                        </div>
                        <br />
                        <div class="col-6 offset-3" style="height: 2rem;">
                            <div>
                                <input style="display:inline-block;" type="submit" value="" class="login login-submit form-control" />
                            </div>
                        </div>
</form>
                <p class="sms">Free for 24 hrs then AED 11 / Week</p>



                <button onclick="goBack()">Exit</button>

                <p class="sms" style="font-weight: bold; font-size: 12px;">
                    By clicking on the above subscribe button, you will agree on the below terms and conditions<br>
                    1. You will be start paying subscription after the free period automatically<br>
                    2. No commitment, you can cancel your subscription at anytime by sending C mega to 1692<br>
                    3. To get support, please contact support@digi-vibe.com <br>
                    4. The free trial is valid only for new subscribers
                </p>


            </div>
            </div>
    </div>
</div>

@section Scripts{
    <script>
        function OnSelect() {
            var o = $("#seloper").val();
            if (o == 5000) {
                $("#h2Number").hide();
                $("#inputnumber").hide();
                $("#msisdnTXT").prop('required', false);

            }
            else {
                $("#h2Number").show();
                $("#inputnumber").show();
                $("#msisdnTXT").prop('required', true);
            }
        }
         function goBack() {
            //window.history.back();
            location.replace("https://www.google.com");
        }

        function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return "";
        }

        function checkCookie() {
        let approved = getCookie("approved");
            if (approved != "") {
            alert("Welcome again " + approved);
            } 
        }

        window.onload = function(){
        // Put your logic here. 
        //alert("Onload "); 
        let approved = getCookie("approved");
            if (approved != "") {
            //alert("Welcome again " + approved);
            location.replace("https://megaplay.digi-vibe.com/");
            }       
    }
    </script>
}