@page "{id:int?}"
@model MobileWorldAPI.Pages.IndexModelAr
@{

}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-12 col-md-12  col-sm-12 col-xs-12">
            <div class="cuerpo">
                <p class="sms">مجانًا لمدة 24 ساعة ثم 11 درهمًا في الأسبوع</p>
                <p class="sms" style="font-weight: bold; font-size: 16px;"> <a href="/index">English</a></p>
                <img src="@Model.BaseImg" style="width: 50%;">
                <h2 ID="h2Number">أدخل رقمك</h2>

                <form method="post">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group row">
                        <div class="input-group">
                            <div class="col-6 offset-3">
                                <div class="input-group m-2">
                                   <div class="input-group-prepend">
                                        <div class="input-group-text">05</div>
                                    </div>
                                    <input asp-for="Msisdn" class="form-control" placeholder="05xxxxxxxx" />
                                </div>
                            </div>
                            <div class="col-12">
                                <span asp-validation-for="Msisdn"></span>
                            </div>
                        </div>
                        </div>
                        <br />
                        <div class="col-6 offset-3" style="height: 2rem;">
                            <div>
                                <input style="display:inline-block;" type="submit" value="" class="login login-submit form-control" />
                            </div>
                        </div>
                </form>
                <p class="sms">مجانًا لمدة 24 ساعة ثم 11 درهمًا في الأسبوع</p>
                
                <button onclick="goBack()">مخرج</button>

                <p class="sms" style="font-weight: bold; font-size: 8px;">
                    بالضغط على زر الاشتراك أعلاه ، فإنك توافق على الشروط والأحكام أدناه<br>
                    1. ستبدأ في دفع الاشتراك تلقائيًا بعد انتهاء الفترة المجانية <br>
                    2. لا يوجد التزام ، يمكنك إلغاء اشتراكك في أي وقت بإرسال C mega إلى 1692 <br>
                    3. للحصول على الدعم ، يرجى الاتصال support@digi-vibe.com <br>
                    4. النسخة التجريبية المجانية صالحة فقط للمشتركين الجدد
                </p>


            </div>
            </div>
    </div>
</div>

@section Scripts{
    <script>
        function OnSelect() {
            var o = $("#seloper").val();
            if (o == 5000) {
                $("#h2Number").hide();
                $("#inputnumber").hide();
                $("#msisdnTXT").prop('required', false);

            }
            else {
                $("#h2Number").show();
                $("#inputnumber").show();
                $("#msisdnTXT").prop('required', true);
            }
        }
         function goBack() {
            //window.history.back();
            location.replace("https://www.google.com");
        }
    </script>
}