@page "{id:int?}"
@model MobileWorldAPI.Pages.IndexModel
@using Microsoft.AspNetCore.Http
@{ 
    var c = HttpContext.Session.GetString("IndexState");
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-12 col-md-12  col-sm-12 col-xs-12">
            <div class="cuerpo">
                <p class="sms">Free for 24 hrs then AED 3 / Daily</p>
                <p class="sms" style="font-weight: bold; font-size: 18px;"> <a href="/Indexar?@HttpContext.Session.GetString("IndexState")" style="font-size:25px;">عربي</a></p>
                <img src="@Model.BaseImg" style="width: 50%;">
                <h2 ID="h2Number">Enter your number</h2>

                <form method="post">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group row">
                        <div class="input-group">
                            <div class="col-6 offset-3">
                                <div class="input-group m-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">+971</span>
                                    </div>
                                    <input asp-for="Msisdn" class="form-control" placeholder="XXX XXXXX" onfocus="this.placeholder=''" onblur="this.placeholder='XXX XXXXX'" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-12"><span asp-validation-for="Msisdn"></span></div>
                    <div class="col-12" style="height: 2.3rem;">
                        <div>
                            <input style="display:inline-block;" type="submit" value="" class="login login-submit form-control" />
                        </div>
                    </div>
                </form>
                <p class="sms">Free for 24 hrs then AED 3 / Daily</p>



                <button onclick="goBack()">Exit</button>
                <br />

                <p class="sms" style="font-weight: bold; font-size: 12px;">
                    Please make sure that your browser
                    is not using any 3rd-party blocking technologies and you have a healthy
                    Internet connection for swift access to the content
                    By clicking on the above subscribe button, you will agree on the below terms and conditions<br>
                    1. You will start the paid subscription after the free period automatically<br>
                    2. No commitment, you can cancel your subscription at anytime by sending C mega to 1692<br>
                    3. To get support, please contact support@digi-vibe.com <br>
                    4. The free trial is valid only for new subscribers
                </p>


            </div>
        </div>
    </div>
</div>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />

    }

    <script>
        function OnSelect() {
            var o = $("#seloper").val();
            if (o == 5000) {
                $("#h2Number").hide();
                $("#inputnumber").hide();
                $("#msisdnTXT").prop('required', false);

            }
            else {
                $("#h2Number").show();
                $("#inputnumber").show();
                $("#msisdnTXT").prop('required', true);
            }
        }
        function goBack() {
            //window.history.back();
            location.replace("https://www.google.com");
        }

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function checkCookie() {
            let approved = getCookie("approved");
            if (approved != "") {
                alert("Welcome again " + approved);
            }
        }

        /*window.onload = function(){
        // Put your logic here.
        //alert("Onload ");
        let approved = getCookie("approved");
            if (approved != "") {
            //alert("Welcome again " + approved);
                location.replace("https://digitalboxonline.com/?sugid=cd01de3a-e5ae-434c-b926-ec127d1cde3b");
            }
}*/
    </script>
}