@page
@model MobileWorldAPI.Pages.PinModel
@{
}


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-12 col-md-12  col-sm-12 col-xs-12">
            <div class="cuerpo">
                <p class="sms">Free for 24 hrs then AED 3 / Daily</p>
                <img src="img/landing1.png" style="width: 50%;">
                <h2 ID="h2Number">Enter your OTP to activate subscription</h2>

                <form method="post">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div id="inputnumber" class="form-group row">
                        <div class="col-6 offset-3">
                            <input asp-for="Otp" value="" class="form-control" placeholder="Enter your OTP" />
                            <span asp-validation-for="Otp"></span>

                        </div>

                    </div>
                    <br />
                    <!--<div class="form-group row"> -->
                    <div class="col-6 offset-3" style="height: 2rem;">
                        <div>
                            <input style="display:inline-block;" type="submit" value="" class="login login-submit form-control" />
                        </div>
                    </div>
                </form>

                <div id="inputnumber">
                    <p class="sms" style="font-weight: bold; font-size: 18px;">
                    </p>
                </div>
                <div class="bot">
                </div>
                <button onclick="goBack()">Exit</button>
                <p class="sms">Free for 24 hrs then AED 3 / Daily</p>


                <p class="sms" style="font-weight: bold; font-size: 14px;">Terms and conditions</p>

                <p class="sms" style="font-weight: bold; font-size: 12px;">
                    Please make sure that your browser
                    is not using any 3rd-party blocking technologies and you have a healthy
                    Internet connection for swift access to the content
                    By clicking on the above subscribe button, you will agree on the below terms and conditions<br>
                    1. You will start the paid subscription after the free period automatically<br>
                    2. No commitment, you can cancel your subscription at anytime by sending C mega to 1692<br>
                    3. To get support, please contact support@digi-vibe.com <br>
                    4. The free trial is valid only for new subscribers
                </p>

            </div>
        </div>
    </div>
</div>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />

    }
    <script>
        function OnSelect() {
            var o = $("#seloper").val();
            if (o == 5000) {
                $("#h2Number").hide();
                $("#inputnumber").hide();
                $("#msisdnTXT").prop('required', false);

            }
            else {
                $("#h2Number").show();
                $("#inputnumber").show();
                $("#msisdnTXT").prop('required', true);
            }
        }
        function goBack() {
            //window.history.back();
            location.replace("https://www.google.com");
        }
    </script>
}