@page
@model MobileWorldAPI.Pages.PinarModel
@{
}


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-12 col-md-12  col-sm-12 col-xs-12">
            <div class="cuerpo">
                <p class="sms">مجانًا لمدة 24 ساعة ثم 3 دراهم / يوميًا</p>
                <img src="img/landing1.png" style="width: 50%;">
                <h2 ID="h2 Number">الرجاء إدخال كلمة المرور لمرة واحدة التي تلقيتها لتفعيل اشتراكك </h2>

                <form method="post">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div id="inputnumber" class="form-group row">
                        <div class="col-6 offset-3">
                            <input asp-for="Otp" value="" class="form-control" placeholder="Enter your OTP" />
                            <span asp-validation-for="Otp"></span>

                        </div>

                    </div>
                    <br />
                    <!--<div class="form-group row"> -->
                    <div class="col-6 offset-3" style="height: 2rem;">
                        <div>
                            <input style="display:inline-block;" type="submit" value="" class="login login-submit form-control" />
                        </div>
                    </div>
                </form>

                <div id="inputnumber">
                    <p class="sms" style="font-weight: bold; font-size: 18px;">
                    </p>
                </div>
                <div class="bot">
                </div>
                <button onclick="goBack()">مخرج</button>
                <p class="sms">مجانًا لمدة 24 ساعة ثم 3 دراهم / يوميًا</p>


                <p class="sms" style="font-weight: bold; font-size: 15px;">
                    بالضغط على زر الاشتراك أعلاه ، فإنك توافق على الشروط والأحكام أدناه<br>
                    1. ستبدأ الاشتراك المدفوع تلقائيًا بعد الفترة المجانية <br>
                    2. لا يوجد التزام ، يمكنك إلغاء اشتراكك في أي وقت بإرسال C mega إلى 1692 <br>
                    3. للحصول على الدعم ، يرجى الاتصال support@digi-vibe.com <br>
                    4. النسخة التجريبية المجانية صالحة فقط للمشتركين الجدد
                </p>

            </div>
        </div>
    </div>
</div>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />

    }
    <script>
        function OnSelect() {
            var o = $("#seloper").val();
            if (o == 5000) {
                $("#h2Number").hide();
                $("#inputnumber").hide();
                $("#msisdnTXT").prop('required', false);

            }
            else {
                $("#h2Number").show();
                $("#inputnumber").show();
                $("#msisdnTXT").prop('required', true);
            }
        }
         function goBack() {
            location.replace("https://www.google.com");
        }
    </script>
}