@page
@model MobileWorldAPI.Pages.WelcomeModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-12 col-md-12  col-sm-12 col-xs-12">
            <div class="cuerpo">
                <img src="img/landing1.png" style="width: 50%;">
                <h2 ID="h2Number">You have been successfully subscribed to Megaplay service.</h2>
                <p class="sms">We have sent you a confirmation SMS that includes your subscription details for your records.</p>
                <p class="sms">Please keep that message for future reference.</p>
                <p class="sms">Click <a href="https://digitalboxonline.com/?sugid=cd01de3a-e5ae-434c-b926-ec127d1cde3b" onclick="setCookie('approved', 'd0cdf547-0d79-44c8-b02a-bff63c108e4a', 7);">here</a> to access Megaplay.</p>

                <p class="sms" style="font-weight: bold; font-size: 12px;">
                    Please make sure that your browser
                    is not using any 3rd-party blocking technologies and you have a healthy
                    Internet connection for swift access to the content
                    By clicking on the above subscribe button, you will agree on the below terms and conditions<br>
                    1. You will start the paid subscription after the free period automatically<br>
                    2. No commitment, you can cancel your subscription at anytime by sending C MegaD to 1692<br>
                    3. To get support, please contact support@digi-vibe.com <br>
                    4. The free trial is valid only for new subscribers
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function OnSelect() {
            var o = $("#seloper").val();
            if (o == 5000) {
                $("#h2Number").hide();
                $("#inputnumber").hide();
                $("#msisdnTXT").prop('required', false);

            }
            else {
                $("#h2Number").show();
                $("#inputnumber").show();
                $("#msisdnTXT").prop('required', true);
            }
        }

         function goBack() {
            location.replace("https://www.w3schools.com");
        }

        function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        let expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        /*window.onload = function () {
            // Put your logic here. 
            //alert("Onload "); 
            let approved = getCookie("approved");
            if (approved == "" || approved==null) {
                //alert("Welcome again " + approved);
                location.replace("https://uae.digi-vibe.com/");
            }
        }*/

    </script>
}
