@page
@model MobileWorldAPI.Pages.WelcomeModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-12 col-md-12  col-sm-12 col-xs-12">
            <div class="cuerpo">
                <img src="img/landing1.png" style="width: 50%;">
                <h2 ID="h2Number">You have been successfully subscribed to Megaplay service.</h2>
                <p class="sms">We have sent you a confirmation SMS that includes your subscription details for your records.</p>
                <p class="sms">Please keep that meesage for future reference.</p>
                <p class="sms">Click <a href="http://megaplay.digi-vibe.com/">here</a> to access the Megaplay.</p>


            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function OnSelect() {
            var o = $("#seloper").val();
            if (o == 5000) {
                $("#h2Number").hide();
                $("#inputnumber").hide();
                $("#msisdnTXT").prop('required', false);

            }
            else {
                $("#h2Number").show();
                $("#inputnumber").show();
                $("#msisdnTXT").prop('required', true);
            }
        }

         function goBack() {
            location.replace("https://www.w3schools.com");
        }
    </script>
}
